*{
    box-sizing: border-box;
}

body{
    margin:0px;
}


table{
    margin:0px;
}
table td{
    border:1px solid #666;
    padding: 1vw;
}

table th{
    padding: 1vw;
    background-color: #2c2c2c;
    color: #dcddde;
}

table th:first-child{
    border-radius: 2vw 0 0 0;
}

table td:hover{
    scale:1.1;
    background-color:#FFFFCC;
    transition-duration: 0.5s;
}

table th:last-child{
    background-color: red;
    color: black;
    border-radius: 0 2vw 0 0;
}

#container{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    margin-top: 10vh;
}

.dugme,.okundu{
    text-align: center;
    vertical-align: middle;
}


#anaDugmeler{
    display: flex;
    gap: 2vw;
}

#kitapEkleDugmesi, #temizleDugmesi{
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    width: max(10vw,15vh);
    border-radius: 2vmax 2vmax 0 0;
    margin-bottom: 0px;
}

#kitapEkleDugmesi:hover, #temizleDugmesi:hover{
    scale:1.1 1;
    background-color:#808080;
    transition-duration: 0.5s;
}

.aktif{
    display: flex;
    z-index: 9;
    position: absolute;
    top: 10vh;
    color: #DFFFE9;
    left: 19vw;
    width: 62vw;
    background-color: #555;
    padding: 4vmax;
    gap: 1vmax;
    align-items: center;
    justify-content: center;
    border-radius: 2vmax;
}

.formpiece{
    display: flex;
    justify-content: space-between;
    gap: 0.5vmax;
}

.aktif h1{
    color: #DFFFE9;
}

.uyuyor{
    display:none;
}

.form-container{
    display: flex;
    flex-direction: column;
    /* width: 32vw; */
    gap: 0.5vmax;
}

#kaydet,#kapat{
    padding: 16px 20px;
    margin: 1vh 0px;
    border: none;
    color: white;
    border-radius: 1vmin;
  }

#kaydet{
      background-color: green;      
  }

#kapat{
      background-color: red;
 }

 #kaydet:hover{
    scale:1.1;
    background-color:#00CC33;
    transition-duration: 0.5s;
}

#kapat:hover{
    scale:1.1;
    background-color:#CC3333;
    transition-duration: 0.5s;
}


